html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  text-align: center;
}

.cards{
  float: left;
  width: 25%;
  border: solid black .1em;
  padding: 1em;
  overflow: hidden;
  height: 30em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

body {
  background-color: #f2f2f2;
}


.btn {
  display: inline-block;
  background-color: #333;
  text-decoration: none;
  padding: .4em .75em .3em;
  color: #fff;
  border-radius: 8px;
  border: 3px black solid;
  font-size: 1.125rem;
}

.btn-small {
  font-size: .875rem;
}

.btn:hover {
  background-color: #000;
}

.anderon {
  background-color: #e2e2e2;
}

.knights {
  background-color: #ccc;
}

.dragon {
  background-color: #aaa;
}

.ships {
  background: #999;
}
